<!doctype html>

<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="" >
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<title></title>
	<link rel="icon" href="./static/img/favicon.png" sizes="any" type="image/x-icon">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="./static/css/style.min.css">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	 crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	 crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js" integrity="sha256-19J3rT3tQdidgtqqdQ3xNu++Gd7EoP/ag/0x1lHi0xY="
	 crossorigin="anonymous"></script>
	<script src="../static/js/bootstrap-material-design.min.js"></script>
	<script src="../static/js/biblat.min.js"></script>
</head>
<body>
<!--SideBar.html-->

<!-- Cuerpo de la página -->
<div class="wrapper">
  <div class="login-page">
    <div class="page-header">


    </div>
  </div>
</div>
<!-- Fin del cuerpo de la página -->
</body>

<!--footer.html-->
<footer class="footer">
  <div class="container-fluid">

    <div class="copyright float-right">
      &copy;
      <script>
        document.write(new Date().getFullYear())
      </script> Todos los derechos reservados. Dirección General de Bibliotecas, UNAM.
    </div>

  </div>
</footer>

</html>